.row {
    align-items: center;
    justify-content: space-between;
}

.search {
    vertical-align: middle !important;
}

.btn {
    display: flex;
    justify-content: end;
}

.searchIcon {
    color: #eee !important;
    cursor: pointer;
    margin-right: 14px !important;
}

.editIcon {
    color: #eee !important;
    cursor: pointer;
    margin-right: 14px !important;
}

.LogoutIcon {
    color: #eee !important;
    cursor: pointer;
}

