.row {
    align-items: center;
    justify-content: space-between;
}

.search {
    vertical-align: middle !important;
}

.btn {
    display: flex !important;
    justify-content: end;
}

.icon {
    color: #eee !important;
    cursor: pointer;
    margin-right: 14px !important;
    font-size: 20px;
}
